---
import Footer from './Footer.astro';
import Header from './Header.svelte';

interface Props{
  desc: string | undefined;
  title: string
  pageType: string
}
const themeColor:string = "#94a3b8"
const {desc,title,pageType} = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/image/Advenccre.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content={desc} />
    <meta name="msapplication-TileColor" content={themeColor}>
    <meta name="theme-color" content={themeColor}/>
    <meta property="og:title" content={title + ' - Advenccre'}>
    <meta property="og:type" content={pageType} />
    <meta property="og:url" content="https://advenccre.design">
    <style>
      @import "./index.css";
    </style>
		<title>{title + ' - Advenccre'}</title>
	</head>
  <body class="dark:bg-slate-800 [&_main]:min-h-screen scroll:bg-transparent scroll-tb:bg-gray-400 scroll-tb:bg-opacity-40 scroll:w-2">
    <Header client:load/>
    <slot></slot>
    <Footer/>
  </body>
</html>